.ulStyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .listyle {
    float: left;
  }
  
  .listyle .anchorStyle {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .listyle .anchorStyle:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .LabelText{
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 500;
    padding: 9px 0 0px 11px;

  }